body {
    display: flex;
    flex-direction: column;
    color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: green;
    margin: 0;
    font-size: 20px;
    flex-grow: 0;
}

.header {
    background-color: rgb(8, 150, 8);
    display: flex;
    flex-grow: 1;
    padding: 20px;
    height: 400px;
    padding-right: 70px;

}

.icon {
    height: 120px;
    width: auto;
    border-radius: 20%;
    margin-left: 60px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: orange;
}

.logo {
    display: flex;
}

.head-links {
    display: flex;
    margin-top: 5px;
}


.head-img {
    width: 420px;
    height: auto;
    display: inline;

}

.login {
width: 80px;
border-radius: 20%;
background-color: rgba(107, 66, 4, 0.959);
color: orange;
}

.img-1 {
    display: flex;
}

